---
import Layout from "../layouts/Layout.astro";
import Next from "../icons/Next.astro";
import Prev from "../icons/Prev.astro";
import Male from "../icons/Male.astro";
import Female from "../icons/Female.astro";
---

<Layout title="Scroll-01">
  <main
    class="flex m-auto text-white text-xl w-screen h-screen p-4 align-middle justify-center"
  >
    <container
      class="bg-gray-400 w-3/4 bg-opacity-25 rounded-xl hover:bg-opacity-35 transition ease-in-out"
    >
      <section class="relative inline-flex gap-2 snap-start w-full flex-wrap">
        <!--SECCIÓN BOTONES-->
        <a
          href="#"
          class="bg-blue-300 max-w-20 rounded-full py-1 px-4 text-center"
          >Test</a
        >
        <a
          href="#"
          class="bg-blue-300 max-w-20 rounded-full py-1 px-4 text-center"
          >Test</a
        >
        <a
          href="#"
          class="bg-blue-300 max-w-20 rounded-full py-1 px-4 text-center"
          >Test</a
        >
        <button
          class="flex rounded-full cursor-pointer border-[none] outline-none w-8 h-8 bg-blue-300 items-center px-1 ml-auto float-right"
          ><Prev /></button
        >
        <button
          class="flex rounded-full cursor-pointer border-[none] outline-none w-8 h-8 bg-blue-300 items-center px-1 float-right"
          ><Next /></button
        >
      </section>
      <section class="flex gap-4 py-4 w-full flex-row overflow-auto">
        <!--DATOS-->
        <a
          href="#male-1"
          class="flex appearance-none text-decoration[none] relative
        bg-blue-500 p-4 rounded-2xl h-52 transition[all 0.2s ease-in-out] flex:[0
        0 13rem] cursor-pointer flex-col justify-between snap-start"
          ><Male
            class="flex object-cover rounded-xl h-12 min-w-12 w-12 border[1px solid bg-blue-200]"
          />
          <div>
            <h2>1215.25</h2>
            <div class="flex size-3 font-normal text-zinc-300">USD</div>
          </div>
        </a>
        <a
          href="#female-1"
          class="flex appearance-none text-decoration[none] relative
        bg-red-500 p-4 rounded-2xl h-52 transition[all 0.2s ease-in-out] flex:[0
        0 13rem] cursor-pointer flex-col justify-between snap-start"
          ><Female
            class="flex object-cover rounded-xl h-12 min-w-12 w-12 border[1px solid bg-blue-200]"
          />
          <div>
            <h2>1215.25</h2>
            <div class="flex size-3 font-normal text-zinc-300">USD</div>
          </div>
        </a>
        <a
          href="#male-2"
          class="flex appearance-none text-decoration[none] relative
        bg-blue-500 p-4 rounded-2xl h-52 transition[all 0.2s ease-in-out] flex:[0
        0 13rem] cursor-pointer flex-col justify-between snap-start"
          ><Male
            class="flex object-cover rounded-xl h-12 min-w-12 w-12 border[1px solid bg-blue-200]"
          />
          <div>
            <h2>1215.25</h2>
            <div class="flex size-3 font-normal text-zinc-300">USD</div>
          </div>
        </a>
        <a
          href="#female-2"
          class="flex appearance-none text-decoration[none] relative
        bg-red-500 p-4 rounded-2xl h-52 transition[all 0.2s ease-in-out] flex:[0
        0 13rem] cursor-pointer flex-col justify-between snap-start"
          ><Female
            class="flex object-cover rounded-xl h-12 min-w-12 w-12 border[1px solid bg-blue-200]"
          />
          <div>
            <h2>1215.25</h2>
            <div class="flex size-3 font-normal text-zinc-300">USD</div>
          </div>
        </a>
      </section>
    </container>
  </main>

  <style>
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
